

.calculator {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    height: 30%;
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
}

.inputForm,
.outputForm {
    width: 100%;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input,
.output {
    width: 100px;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

select {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 15px;
}

.outputValue {}